<div class="relative mx-auto h-full w-full max-w-md shadow-2xl">
  <div class="h-screen">

   <div class="bg-lightblue px-10 py-10 shadow-2xl shadow-lightblue-500/50 mb-5">
    <h2  class="text-white text-center">REGISTER</h2>
    </div>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <!-- Name input -->
      <div class="mt-5">
          <%= f.label :name %><br />
          <%= f.text_field :name, autofocus: true, autocomplete: "name", class:"form-control block w-full px-4 py-2 text-xl font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-light"%>
      </div>


      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email" , class:"w-full"%>
      </div>

      <div class="field">
        <%= f.label :password %>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "new-password", class:"w-full" %>
      </div>

      <div class="field">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"w-full" %>
      </div>

      <button class="actions bg-green-600 rounded px-2 py-1 mt-3 mb-2 ml-4">
        <%= f.submit "Sign up" %>
      </button>
    <% end %>

    <%= render "devise/shared/links" %>
  </div>
</div>
