<div id="<%= dom_id budget %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= budget.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Amount cents:</strong>
    <%= budget.amount_cents %>
  </p>


  <p class="my-5">
    <strong class="block font-medium mb-1">Category:</strong>
    <%= budget.category_id %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this budget", budget, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Edit this budget', edit_budget_path(budget), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
